.newPosts{
  margin-top: 200px;
  text-align: center;
}
.newPosts__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.newPosts__textarea{
  height: 34px;
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #f85959;
}
