.dialog__link{
  display: flex;
  align-items: center;
  color: #f85959;
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid #f85959;
  padding: 10px;
  margin-bottom: 10px;
}
.dialog__photo{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.dialog__name{
  margin-left: 20px;
}
