
.sendButton{
  padding: 18px 20px;
  background-color: #f85959;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #f85959;
}
.sendButton:hover{
  background-color: #fff;
  color: #f85959;
}
.contentWrapper{
  display: flex;
}
.main{
  flex-grow: 8;
  padding: 20px;
}
